<div class="page-header">
  <h1>ng2-validation-manager - Demo

    <!-- Place this tag where you want the button to render. -->
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sabrio/ng2-validation-manager" data-icon="octicon-star"
       data-count-href="/sabrio/ng2-validation-manager/stargazers"
       data-count-api="/repos/sabrio/ng2-validation-manager#stargazers_count"
       data-count-aria-label="# stargazers on GitHub"
       aria-label="Star sabrio/ng2-validation-manager on GitHub">Star</a>
  </h1>
</div>

<article class="home" id="about">

  <h2>
    Demo
  </h2>

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form.getForm()" (ngSubmit)="save()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="form.hasError('name')" class="alert alert-danger">
            {{form.getError('name')}}
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
          <div *ngIf="form.hasError('email')" class="alert alert-danger">
            {{form.getError('email')}}
          </div>
        </div>

        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" formControlName="username">
          <div *ngIf="form.hasError('username')" class="alert alert-danger">
            {{form.getError('username')}}
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description">
          <div *ngIf="form.hasError('description')" class="alert alert-danger">
            {{form.getError('description')}}
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="form.hasError('password')" class="alert alert-danger">
            {{form.getError('password')}}
          </div>
        </div>
        <div class="form-group">
          <label>RE-Password</label>
          <input type="repassword" class="form-control" formControlName="repassword">
          <div *ngIf="form.hasError('repassword')" class="alert alert-danger">
            {{form.getError('repassword')}}
          </div>
        </div>

        <!--child-->
        <div *ngIf="form.getControl('formGroup')" formGroupName="formGroup" class="panel panel-default">
          <div class="panel-heading">
            <span>Form Group</span>
            <span class="glyphicon glyphicon-remove pull-right" (click)="removeFormGroup()"></span>
          </div>
          <div class="panel-body">
            <div class="form-group col-xs-6">
              <label>ID</label>
              <input type="text" class="form-control" formControlName="id">
            </div>
            <div class="form-group col-xs-6">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
              <div *ngIf="form.getChildGroup('formGroup').hasError('name')" class="alert alert-danger">
                {{form.getChildGroup('formGroup').getError('name')}}
              </div>
            </div>
          </div>
        </div>

        <!--addresses -->
        <fieldset formArrayName="addresses">
          <legend>Addresses
            <a (click)="addAddress()" class="btn btn-default btn-xs pull-right">
              Add address
            </a>
          </legend>
          <div *ngFor="let address of form.getControl('addresses').controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right"
                    *ngIf="form.getControl('addresses').controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">
                <label>street</label>
                <input type="text" class="form-control" formControlName="street">
                <div *ngIf="form.getChildGroup('addresses', i).hasError('street')" class="alert alert-danger">
                  {{form.getChildGroup('addresses', i).getError('street')}}
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label>postcode</label>
                <input type="text" class="form-control" formControlName="postcode">
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-sm-6">
          <legend>Checkboxs</legend>
          <div *ngFor="let checkbox of checkboxs">
            <label>
              <input type="checkbox" (change)="onCheck(checkbox.name, $event.target.checked)">
              {{checkbox.name}}
            </label>
          </div>
        </fieldset>
        <fieldset class="col-sm-6">
          <legend>Radio</legend>
          <div *ngFor="let radio of radios;">
            <label>
              <input type="radio" formControlName="radios" [value]="radio">
              {{radio.name}}
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <code>
        <pre>
<b>form.getData()</b> => {{form.getData()|json}}

<b>form.getValue('description')</b> => {{form.getValue('description')}}

<b>form.getErrors()</b> => {{form.getErrors()|json}}

        </pre>
      </code>
      <button class="btn btn-danger" (click)="form.reset()">form.reset()</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <tabset>
      <tab heading="Template">
          <pre>
            <code>

&lt;form [formGroup]="form.getForm()" (ngSubmit)="save()"&gt;
  &lt;div class="form-group"&gt;
    &lt;label&gt;Name&lt;/label&gt;
    &lt;input type="text" class="form-control" formControlName="name"&gt;
    &lt;div *ngIf="form.hasError('name')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('name')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group"&gt;
    &lt;label&gt;Email&lt;/label&gt;
    &lt;input type="text" class="form-control" formControlName="email"&gt;
    &lt;div *ngIf="form.hasError('email')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('email')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group"&gt;
    &lt;label&gt;Username&lt;/label&gt;
    &lt;input type="text" class="form-control" formControlName="username"&gt;
    &lt;div *ngIf="form.hasError('username')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('username')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group"&gt;
    &lt;label&gt;Description&lt;/label&gt;
    &lt;input type="text" class="form-control" formControlName="description"&gt;
    &lt;div *ngIf="form.hasError('description')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('description')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="form-group"&gt;
    &lt;label&gt;Password&lt;/label&gt;
    &lt;input type="password" class="form-control" formControlName="password"&gt;
    &lt;div *ngIf="form.hasError('password')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('password')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label&gt;RE-Password&lt;/label&gt;
    &lt;input type="repassword" class="form-control" formControlName="repassword"&gt;
    &lt;div *ngIf="form.hasError('repassword')" class="alert alert-danger"&gt;
      <span>&#123;</span><span>&#123;</span>form.getError('repassword')<span>&#125;</span><span>&#125;</span>
    &lt;/div&gt;
  &lt;/div&gt;

          &lt;!--child--&gt;
  &lt;div *ngIf="form.getControl('formGroup')" formGroupName="formGroup" class="panel panel-default"&gt;
    &lt;div class="panel-heading"&gt;
      &lt;span&gt;Form Group&lt;/span&gt;
      &lt;span class="glyphicon glyphicon-remove pull-right" (click)="removeFormGroup()"&gt;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
      &lt;div class="form-group col-xs-6"&gt;
        &lt;label&gt;ID&lt;/label&gt;
        &lt;input type="text" class="form-control" formControlName="id"&gt;
      &lt;/div&gt;
      &lt;div class="form-group col-xs-6"&gt;
        &lt;label&gt;Name&lt;/label&gt;
        &lt;input type="text" class="form-control" formControlName="name"&gt;
        &lt;div *ngIf="form.getChildGroup('formGroup').hasError('name')" class="alert alert-danger"&gt;
          <span>&#123;</span><span>&#123;</span>form.getChildGroup('formGroup').getError('name')<span>&#125;</span><span>&#125;</span>
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

          &lt;!--addresses --&gt;
  &lt;fieldset formArrayName="addresses"&gt;
    &lt;legend&gt;Addresses
      &lt;a (click)="addAddress()" class="btn btn-default btn-xs pull-right"&gt;
        Add address
      &lt;/a&gt;
    &lt;/legend&gt;
    &lt;div *ngFor="let address of form.getControl('addresses').controls; let i=index" class="panel panel-default"&gt;
      &lt;div class="panel-heading"&gt;
        &lt;span&gt;Address <span>&#123;</span><span>&#123;</span>i + 1<span>&#125;</span><span>&#125;</span>&lt;/span&gt;
        &lt;span class="glyphicon glyphicon-remove pull-right"
              *ngIf="form.getControl('addresses').controls.length &gt; 1" (click)="removeAddress(i)"&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="panel-body" [formGroupName]="i"&gt;
        &lt;div class="form-group col-xs-6"&gt;
          &lt;label&gt;street&lt;/label&gt;
          &lt;input type="text" class="form-control" formControlName="street"&gt;
          &lt;div *ngIf="form.getChildGroup('addresses', i).hasError('street')" class="alert alert-danger"&gt;
            <span>&#123;</span><span>&#123;</span>form.getChildGroup('addresses', i).getError('street')<span>&#125;</span><span>&#125;</span>
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-xs-6"&gt;
          &lt;label&gt;postcode&lt;/label&gt;
          &lt;input type="text" class="form-control" formControlName="postcode"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
  &lt;button type="submit" class="btn btn-success"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
              </code>
          </pre>
      </tab>
      <tab heading="Component">
        <pre>
import &#123;ValidationManager&#125; from "ng2-validation-manager";

export class AppComponent implements OnInit&#123;

  form;

  ngOnInit() &#123;

    this.form = new ValidationManager(&#123;
      'name'        : 'required|minLength:4|maxLength:12|alphaSpace',
      'email'       : 'required|email',
      'username'    : 'required|pattern:[A-Za-z0-9]+([_\.][A-Za-z0-9]+)*',
      'description' : &#123;'rules': 'required|count:15', 'value': 'testing'&#125;,
      'password'    : 'required|rangeLength:8,50',
      'repassword'  : 'required|equalTo:password',
      'formGroup'       :  new ValidationManager(&#123;
        'id': &#123;value: &#123;value: 1, disabled: true&#125;, rules: 'required'&#125;,
        'name': &#123;value: 'Form group', rules: 'required|pattern:[A-Za-z0-9]+'&#125;
      &#125;),
      'addresses'   : [
        new ValidationManager(&#123;
          'street': 'required',
          'postcode': ''
        &#125;)
      ],
    &#125;);

    this.form.setValue(&#123;
      'name': 'Default',
      'username': 0,
      'description': 'description'
    &#125;);

    this.form.setErrorMessage('username', 'pattern', 'Pattern must be part of this family: [A-Za-z0-9.-_]');

  &#125;

  addAddress() &#123;
    this.form.addChildGroup('addresses', new ValidationManager(&#123;'street': &#123;value:'testing', rules: 'required'&#125;, 'postcode': ''&#125;) );
  &#125;

  removeAddress(i: number) &#123;
    this.form.removeChildGroup('addresses', i);
  &#125;

  removeFormGroup()&#123;
    this.form.removeChildGroup('formGroup');
  &#125;

  save()&#123;
    if(this.form.isValid())&#123;
      alert('validation pass');
      console.log(this.form.getData());
      this.form.reset();
    &#125;
  &#125;
&#125;
    </pre>
      </tab>
    </tabset>
  </div>
</article>
